.educacion {
    background :rgb(174, 174, 174)
    
    } 
h2{
    text-align: center;
    padding : 3px
}    


  #educacion{
    list-style: none;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}