<router-outlet></router-outlet>


<!-- Banner (IMG)> 06/05 12:00*** --> 


<!-- About  > 06/05 12:00***-->
    <!-- Info Personal -->
        <!-- Img Perfil -->
        <!-- Nombre Completo -->
        <!-- Username -->
        <!-- Email -->
    <!-- Información Profesional -->
        <!-- Titulo -->
        <!-- Descripción -->


<!-- Experiencia Laboral > 05/05 20:00***-->
    <!-- N Cards -->
        <!-- Imagen -->
        <!-- Titulo -->
        <!-- Descripción -->
        <!-- Período -->
        <!-- Empresa -->
        <!-- Cargo -->

<!-- Educación -->
    <!-- N Cards -->
        <!-- Imagen -->
        <!-- Titulo -->
        <!-- Descripción -->
        <!-- Período -->
        <!-- Institución -->
        <!-- Link -->

<!-- Skills > 06/05 12:00 -->
<!-- N Charts -->
<!-- Titulo -->
<!-- Valor -->
<!-- https://www.npmjs.com/package/ng-circle-progress -->

<!-- -  > 06/05 12:00-->
    <!-- N Cards -->
        <!-- Img -->
        <!-- Titulo -->
        <!-- Descripcion -->
        <!-- Link -->

<!-- Footer   > 06/05 12:00-->
    <!-- Algo? -->
    <!-- Form de contacto? -->
    <!-- Email? -->
    <!-- Redes? -->
<ngx-scrolltop></ngx-scrolltop>
